@using IzinTakipVeOnaySistemi.UI.ViewModels
@model IEnumerable<DepartmanListViewModel>

<h2>Departmanlar</h2>
<a asp-action="Create" class="btn btn-success">Yeni Departman Ekle</a>

<custom-table items="Model" controller-name="Departman" columns="Id,Ad"></custom-table>


