@using IzinTakipVeOnaySistemi.BLL.DTO
@model CalisanCreateUpdateDTO

<h2>Çalışan Kayıt Sayfası</h2>

<form asp-action="Create" method="post" class="form-group">

	<div class="form-group">
		<label asp-for="Ad"></label>
		<input asp-for="Ad" class="form-control" />
	</div>

	<div class="form-group">
		<label asp-for="Soyad"></label>
		<input asp-for="Soyad" class="form-control" />
	</div>

	<div class="form-group">
		<label asp-for="Eposta">E-posta</label>
		<input asp-for="Eposta" type="email" class="form-control" />
		<span asp-validation-for="Eposta" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Sifre"></label>
		<input asp-for="Sifre" type="password" class="form-control" />
	</div>

	<div>
		<label asp-for="DepartmanId">Departman</label>
		<select asp-for="DepartmanId" asp-items="@ViewBag.Departmanlar" class="form-control">
			<option value="">Lütfen bir departman seçiniz</option>
		</select>
	</div>

	<div>
		<label asp-for="Rol"></label>
		<select asp-for="Rol" asp-items="@ViewBag.Roller" class="form-control">
			<option value="">Rol seçiniz </option>
		</select>
	</div>

	<button type="submit" class="btn btn-success">OLUŞTUR</button>

</form>