@using IzinTakipVeOnaySistemi.UI.ViewModels
@model IEnumerable<CalisanListViewModel>
@{
	Layout = "_IKLayout";
}
<h2>Çalışanlar</h2>
<a asp-action="Create" class="btn btn-success">Yeni Çalışan Oluştur</a>

<custom-table items="Model" controller-name="Account" columns="Id,Ad,Soyad,Eposta:E-posta,IzinSayisi:İzin Sayısı,Rol,DepartmanId:Departman Id,DepartmanAdi:Departman Adı"></custom-table>



