<!DOCTYPE html>
<html>
<head>
    <title>IK Sayfası</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/Menu.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <div class="left-section">
            <h2>IK Sayfası</h2>
            <a asp-controller="Account" asp-action="Index"><button>Çalışan Kayıt İşlemleri</button></a>
        </div>
        @if (Context.Session.GetInt32("CalisanId") != null)
        {
            <div class="right-section">
                <div class="text-white">
                    @Context.Session.GetString("AdSoyad") - @Context.Session.GetString("Rol")
                </div>
                <a asp-action="LogOut" asp-controller="Account">
                    <button>Çıkış Yap</button>
                </a>
            </div>
        }
    </div>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>