<!DOCTYPE html>
<html>
<head>
	<title>Personel Sayfası</title>
	<link href="~/css/Menu.css" rel="stylesheet" />
</head>
<body>
	<div class="header">
		<div class="left-section">
			<h2>Personel Sayfası</h2>
			<a href=""><button>İzin Talebi Oluştur</button></a>
		</div>

		@if (Context.Session.GetInt32("CalisanId") != null)
		{
			<div class="right-section">
				<div class="text-success">
					@Context.Session.GetString("AdSoyad") - @Context.Session.GetString("Rol")
				</div>
				<a asp-action="LogOut" asp-controller="Account">
					<button>Çıkış Yap</button>
				</a>
			</div>

		}
	</div>
	<div class="content">
		@RenderBody()
	</div>
</body>
</html>